<section class="header">
  <!-- Venstre side: Logo -->
  <a routerLink="/">
    <img
      class="header-haargalleriet-logo"
      src="assets/images/logos/Haargalleriet_logo.png"
      alt="Haargalleriet Logo"
    />
  </a>

  <!-- Høyre side: 4 knapper/lenker -->
  <div class="header-right">
    <a routerLink="/" class="header-link">Hjem</a>
    <a routerLink="/services" class="header-link">Tjenester</a>
    <a routerLink="/about" class="header-link">Om oss</a>
    <a routerLink="/prices" class="header-link">Priser</a>
    <a routerLink="/order" class="header-link highlight-button">Bestill time</a>
  </div>
</section>
