<header class="header-container">
  <div class="header-content">
    <!-- Logo -->
    <a routerLink="/">
      <img
        src="assets/images/logos/Haargalleriet_logo.png"
        alt="Haargalleriet Logo"
        class="logo"
      />
    </a>

    <!-- Desktop-meny -->
    <nav class="desktop-menu">
      <a
        *ngFor="let item of items"
        [routerLink]="item.routerLink"
        class="header-link"
      >
        {{ item.label }}
      </a>
      <p-button
        label="BESTILL TIME"
        class="custom-button"
        routerLink="/order"
      ></p-button>
    </nav>

    <!-- Mobil-meny-ikon -->
    <button class="mobile-menu-icon" (click)="toggleMobileMenu()">
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <!-- Mobilmeny -->
  <nav class="mobile-menu" *ngIf="showMobileMenu">
    <a
      *ngFor="let item of items"
      [routerLink]="item.routerLink"
      class="mobile-link"
    >
      {{ item.label }}
    </a>
    <p-button
      label="BESTILL TIME"
      class="custom-button mobile-button"
      routerLink="/order"
    ></p-button>
  </nav>
</header>
