<header class="header-container">
  <div class="header-content">
    <a routerLink="/">
      <img
        src="assets/images/logos/Haargalleriet_logo.png"
        alt="Haargalleriet Logo"
        class="logo"
      />
    </a>

    <nav class="desktop-menu">
      <a
        *ngFor="let item of items"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.routerLink === '/' }"
        class="header-link"
      >
        {{ item.labelKey | translate }}
      </a>
      <p-button
        [label]="'NAV.CONTACT' | translate"
        routerLink="/order"
        styleClass="custom-button"
      ></p-button>
      <app-language-switcher></app-language-switcher>
    </nav>

    <div class="mobile-controls">
      <app-language-switcher></app-language-switcher>
      <button
        class="mobile-menu-icon"
        [class.open]="showMobileMenu"
        (click)="toggleMobileMenu()"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
  </div>

  <nav class="mobile-menu" [class.show]="showMobileMenu">
    <a
      *ngFor="let item of items"
      [routerLink]="item.routerLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.routerLink === '/' }"
      class="mobile-link"
      (click)="toggleMobileMenu()"
    >
      {{ item.labelKey | translate }}
    </a>
    <a routerLink="/order" class="mobile-cta" (click)="toggleMobileMenu()">
      {{ "NAV.CONTACT" | translate }}
    </a>
  </nav>
</header>
