.team-section {
  margin: 2rem 0;

  .team-grid {
    display: grid;
    gap: 2rem;
    padding: 2rem 1rem;

    // Mobil
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
