@import "variables";

.team-section {
  margin: $spacing-lg 0;

  .team-grid {
    display: grid;
    gap: $spacing-lg;
    padding: $spacing-lg $spacing-sm;

    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
