@import "variables";

.team-section {
  margin: 0;

  .team-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 600px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      max-width: 300px;
    }
  }
}
