name: Deploy One.com

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Set build version
        run: |
          BUILD_DATE=$(date +'%d.%m.%Y %H:%M')
          SHORT_SHA=${GITHUB_SHA::7}
          sed -i "s/version: '1.0.0'/version: '1.0.0-${SHORT_SHA}'/" src/environments/environment.prod.ts
          sed -i "s/buildDate: new Date().toLocaleDateString('no-NO')/buildDate: '${BUILD_DATE}'/" src/environments/environment.prod.ts

      - name: Build Angular project
        run: npm run build -- --base-href /

      - name: Upload with SCP to One.com
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: dist/haargalleriet/browser/**
          target: /customers/9/d/9/haargallerietfagernes.no/httpd.www/
          rm: false
          overwrite: true
          strip_components: 3
